<div style="margin-top: 10rem;">

  <footer class="text-center text-light bg-dark position-relative p-5">
    <div class="container">
      <p class="lead">Copyright &copy; SDG Connect</p>
  </div>
</footer>

</div>