<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/onBoarding.css">
    <title>Document</title>
</head>
<body>
    <img src="/images/gridVectorMain.svg" class="griddy" alt="">
    <div class="card">
        <div class="topCard" style="width: 665px;">
            <a href=""><p class="skip">Skip</p></a>
            <h2>Welcome to SDG Connect</h2>
            <p>Our aim is to connect people and organizations all around the world towards achieving the 
                Sustainable Development Goals.</p>
        </div>
        <br>
        <div class="butt">
            <button style="width: 200px; height: 40px;  justify-content: center; color:rgb(245, 245, 248); background-color: rgb(103, 94, 223); border: 1px #a7a5a5 solid; border-radius: 8px;">Let's begin.</button>
        </div>
    </div>
<img src="/images/mainOnboarding.svg" class="mainPic" alt="">
<img src="/images/mainOnImageBg.svg" class="mainPic2" alt="">
    
<img src="/images/gridVectorMain.svg" class="griddye" alt="">
    <div class="card">
        <div class="topCard" style="width: 665px;">
            <a href=""><p class="skip">Skip</p></a>
            <h2>DONATION</h2>
            <p>Individuals and Organizations who are in need support, financially are put in the spotlight and we ensure a smooth  and organized  something something.</p>
        </div>
        <br>
        <div class="butt">
            <button style="width: 200px; height: 40px;  justify-content: center; color:rgb(245, 245, 248); background-color: rgb(211, 83, 83); border: 1px #a7a5a5 solid; border-radius: 8px;">Continue</button>
        </div>
    </div>
    <img src="/images/pig.svg" class="mainPic" alt="">

<img src="images/gridVectorMain.svg" class="griddye" alt="">
    <div class="card">
        <div class="topCard" style="width: 665px;">
            <a href=""><p class="skip">Skip</p></a>
            <h2>COLLABORATION</h2>
            <p>Individuals and Organizations who may need support, financially are put in the spotlight and we ensure a smooth  and organized  something something</p>
        </div>
        <br>
        <div class="butt">
            <button style="width: 200px; height: 40px;  justify-content: center; color:rgb(245, 245, 248); background-color: #38A389; border: 1px #a7a5a5 solid; border-radius: 8px;">Continue</button>
        </div>
    </div>
    <img src="images/sittingCollaborate.svg" class="mainPice" alt="">

<img src="images/gridVectorMain.svg" class="griddye" alt="">
    <div class="card">
        <div class="topCard" style="width: 665px;">
            <a href=""><p class="skip">Skip</p></a>
            <h2>JOB</h2>
            <p>Individuals and Organizations who may need support, financially are put in the spotlight and we ensure a smooth and organized something something.</p>
        </div>
        <br>
        <div class="butt">
            <button style="width: 200px; height: 40px;  justify-content: center; color:rgb(245, 245, 248); background-color: #AD85B6; border: 1px #a7a5a5 solid; border-radius: 8px;">Sign up</button>
        </div>
    </div>
    <img src="images/mirrorguy.svg" class="mainPice" alt="">
    
</body>
</html>
