<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <section>
    <div class="container">
        <form>
        <h2>Website Logo</h2>
        <p>CREATE ACCOUNT</p>
        <div class="textfield">
            <input type="text" id="email" placeholder="Email">
        </div>
        <div class="textfield">
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="textfield">
            <input type="password" id="password" placeholder="Password">
        </div>

        <button type="submit">Sign Up</button>
        </form>  
    </div>
    
    </section>      
</body>
</html>